// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
}
.small {
  font-size: 0.8em;
  opacity: 0.8;
}

a {
  background: none;
  padding: 0.5em;
}


a, tr {
  transition: 0.2s;
}


table {
  margin: 0 auto;
  display: auto
}


table {
  border-collapse: collapse;
  border: 1px solid;
  border-radius: 1em;

  th {
    background: rgba(255,40,34, 1);
    color: white;
    font-weight: bold;
  }

  th, td { 
    padding: 1em;
  }

  tr:hover {
    background: rgba(244,233,0, 0.7);
  }

  tr.odd {
    background: rgba(244,233,0,0.4);
  }

}
